body {
    background-color: #3f6196;
    background-image: url('../img/anime.jpg');
    object-fit: cover;
}

.header {
    background: #4D79BA;
}

.header__record {
    font-family: SeoulHangang CB;
}

.text {
    font-family: SeoulHangang CB;
}

.version {
    color: #929292;
}

.popup__text {
    font-family: SeoulHangang CB;
}

.setting {
    background: #4D79BA;
}

.slideText {
    font-family: SeoulHangang CB;
}

output {
    background: #0995C1;
    color: #fff;
}

#fader {
    background: #0029FF;
}

#fader::-webkit-slider-thumb {
    background: #ffffff;
}

.pallete {
    background: #4D79BA;
}

.canvas {
    background-color: white;
}

#cl {
    border: red;
}