body {
    background: #E8A0BF;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 47px;
    background: #FFBCD9;
    box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__record {
    font-family: CHIBOLD demo;
}

.text {
    font-family: CHIBOLD demo;
}

.version {
    color: #929292;
}

.popup__text {
    font-family: CHIBOLD demo;
}

.setting {
    background: #FFBCD9;
}

.slideText {
    font-family: CHIBOLD demo;
}

output {
    background: #B1004D;
    color: #fff;
}

#fader {
    background: #B1004D;
}

#fader::-webkit-slider-thumb {
    background: #ffffff;
}

.pallete {
    background: #DB7FA7;
}

.canvas {
    background-color: white;
}

#cl {
    border: red;
}