body {
    background-color: #3F2577;
    background-image: url('../img/space.jpg');
    object-fit: cover;
}

.header {
    background: #53319C;
}

.header__record {
    font-family: Sacramento;
}

.text {
    font-family: Sacramento;
}

.version {
    color: #929292;
}

.popup__text {
    font-family: Sacramento;
}

.setting {
    background: #53319C;
}

.slideText {
    font-family: Sacramento;
}

output {
    background: #7952CD;
    color: #fff;
}

#fader {
    background: #513097;
}

#fader::-webkit-slider-thumb {
    background: #ffffff;
}

.pallete {
    background: #6038B4;
}

.canvas {
    background-color: white;
}

#cl {
    border: red;
}